<div class="mainBK">
 <div class="container">
      <div class="row main">
          <div class="col-md-4 col-sm-4 hidden-xs">&nbsp;</div>
          <div class="col-md-4 col-sm-4 col-xs-12  text-center transWhiteBK signIn">
               <div class="alignCenter">
                 <div class="logo text-center">
                    <img src="images/logo-nonummy.png"  alt="Logo" />
                 </div>
                 <div class="panel-title fontColorWhite">
                     <h3 class="title">Sign In</h3>
                 </div>
                 <form class="SignINForm">
                     <div class="form-group">
                         <label class="sr-only" for="inputEmail">Email</label>
                         <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                     </div>
                     <div class="form-group">
                         <label class="sr-only" for="inputPassword">Password</label>
                         <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                     </div>
                     <button type="submit" class="btn btn-default btn-block">Join nonummy</button>
                 </form>
                 <div class="connectPnl">
                     <p>Connect with us</p>
                     <ul class="list-inline">
                         <li><a class="fbIcon" href="javascript:;">Facebook</a></li>
                         <li><a class="googleIcon" href="javascript:;">Google</a></li>
                         <li><a class="lkIcon" href="javascript:;">Linkdin</a></li>
                     </ul>
                 </div>
               </div>
               <div class="clearFix"></div>
          </div>
          <div class="col-md-4 col-sm-4 hidden-xs">&nbsp;</div>
      </div>
   </div>
 </div>
<!-- end Main Wrapper -->
